---

import { siteConfig } from "../config";
---

<!-- 全局配置载体 -->
<div id="config-carrier" data-hue={siteConfig.themeColor.hue}>
</div>

<!-- 引入Umami Share工具脚本 -->
<script is:inline src="/js/umami-share.js"></script>