<div style="font-size: 1.3em; margin-top: 4em;">
    <div>
        <h1>Selected Projects</h1>
    </div>

    <div style="display: flex; align-items: flex-start; margin-bottom: 2rem;">
        <div style="margin-right: 1rem;">
            <img src="/images/hinaflow_icon.png" alt="Top Image" style="display: block; width: 10em; height: 8em; margin-bottom: 0.5rem;">
        </div>
        <div>
            <p style="margin: 0; font-size: 0.9em; font-weight: bold;">Physics-based Animation 2023S - UTokyo</p>
            <p style="margin: 0; font-size: 0.73em;">
                <span class="date"><span class="icon"><i class="fa-solid fa-calendar fa-fw"></i></span>2025/2 </span>
                <span style="margin-left: 1em;"></span>
                <span><i class="fa-solid fa-tags fa-fw"></i> Tags: 
                    <span style="
                    display: inline-block; 
                    background-color: #787878; 
                    color: #fff; 
                    padding: 0.1rem 0.3rem; 
                    border-radius: 4px; 
                    margin-left: 0.5rem;">
                    Simulation
                    </span>
                    <span style="
                    display: inline-block; 
                    background-color: #787878; 
                    color: #fff; 
                    padding: 0.1rem 0.3rem; 
                    border-radius: 4px; 
                    margin-left: 0.5rem;">
                    Houdini Implementation
                    </span>
                </span>
                <span style="margin-left: 1em;"></span>
                <span><i class="fa-brands fa-github fa-fw"></i> 
                    <a href="https://github.com/Xayah-Hina/Physics-based_Animation_2023S"
                    style="
                    display: inline-block; 
                    background-color: #2196F3; 
                    color: #fff; 
                    padding: 0.1rem 0.3rem; 
                    border-radius: 4px; 
                    margin-left: 0.5rem;">
                    Open in Github
                    </a>
                </span>
            </p>
            <p style="margin: 0; margin-left: 0.1em; font-size: 0.73em;"> Course assignments for Physics-based Animation 2023S - UTokyo, but all implemented by Houdini HDK. </p>
        </div>
    </div>

    <div style="display: flex; align-items: flex-start; margin-bottom: 2rem;">
        <div style="margin-right: 1rem;">
            <img src="/images/hinaflow_icon.png" alt="Top Image" style="display: block; width: 10em; height: 8em; margin-bottom: 0.5rem;">
        </div>
        <div>
            <p style="margin: 0; font-size: 0.9em; font-weight: bold;">HinaFlow - Differentiable Fluid Simulator For Learning Tasks</p>
            <p style="margin: 0; font-size: 0.73em;">
                <span class="date"><span class="icon"><i class="fa-solid fa-calendar fa-fw"></i></span>2024/6 - Now </span>
                <span style="margin-left: 1em;"></span>
                <span><i class="fa-solid fa-tags fa-fw"></i> Tags: 
                    <span style="
                    display: inline-block; 
                    background-color: #787878; 
                    color: #fff; 
                    padding: 0.1rem 0.3rem; 
                    border-radius: 4px; 
                    margin-left: 0.5rem;">
                    Simulation
                    </span>
                    <span style="
                    display: inline-block; 
                    background-color: #787878; 
                    color: #fff; 
                    padding: 0.1rem 0.3rem; 
                    border-radius: 4px; 
                    margin-left: 0.5rem;">
                    Deep Learning
                    </span>
                </span>
                <span style="margin-left: 1em;"></span>
                <span><i class="fa-brands fa-github fa-fw"></i> 
                    <a href="https://github.com/HinaPE/HinaFlow"
                    style="
                    display: inline-block; 
                    background-color: #2196F3; 
                    color: #fff; 
                    padding: 0.1rem 0.3rem; 
                    border-radius: 4px; 
                    margin-left: 0.5rem;">
                    Open in Github
                    </a>
                </span>
            </p>
            <p style="margin: 0; margin-left: 0.1em; font-size: 0.73em;"> HinaFlow is a Houdini HDK based, open-source framework targeted at fluid simulation research in Computer Graphics and Machine Learning.  </p>
            <p style="margin: 0; margin-left: 0.1em; font-size: 0.8em;"> Features: </p>
            <ul style="margin: 0; padding-left: 1.5em; font-size: 0.73em;">
                <li style="margin: 0;">Fully differentiable fluid solver, with PyTorch, JAX and TensorFlow backends.</li>
                <li style="margin: 0;">Tightly integrated with machine learning or optimization frameworks</li>
            </ul>
        </div>
    </div>

    <div style="display: flex; align-items: flex-start; margin-bottom: 2rem;">
        <div style="margin-right: 1rem;">
            <img src="/images/hinape.png" alt="Top Image" style="display: block; width: 10em; height: 8em; margin-bottom: 0.5rem;">
        </div>
        <div>
            <p style="margin: 0; font-size: 0.9em; font-weight: bold;">HinaPE - Research oriented physics-based animation infrastructure.</p>
            <p style="margin: 0; font-size: 0.73em;">
                <span class="date"><span class="icon"><i class="fa-solid fa-calendar fa-fw"></i></span>2021/3 - 2024/5 </span>
                <span style="margin-left: 1em;"></span>
                <span><i class="fa-solid fa-tags fa-fw"></i> Tags: 
                    <span style="
                    display: inline-block; 
                    background-color: #787878; 
                    color: #fff; 
                    padding: 0.1rem 0.3rem; 
                    border-radius: 4px; 
                    margin-left: 0.5rem;">
                    Simulation
                    </span>
                    <span style="
                    display: inline-block; 
                    background-color: #787878; 
                    color: #fff; 
                    padding: 0.1rem 0.3rem; 
                    border-radius: 4px; 
                    margin-left: 0.5rem;">
                    Rendering
                    </span>
                </span>
                <span style="margin-left: 1em;"></span>
                <span><i class="fa-brands fa-github fa-fw"></i> 
                    <a href="https://github.com/HinaPE/HinaPE"
                    style="
                    display: inline-block; 
                    background-color: #2196F3; 
                    color: #fff; 
                    padding: 0.1rem 0.3rem; 
                    border-radius: 4px; 
                    margin-left: 0.5rem;">
                    Open in Github
                    </a>
                </span>
            </p>
            <p style="margin: 0; margin-left: 0.1em; font-size: 0.73em;"> HinaPE is a cross-platform and portable research-oriented physics-based animation infrastructure. HinaPE is designed with OpenGL & Vulkan backends. </p>
            <p style="margin: 0; margin-left: 0.1em; font-size: 0.8em;"> Features: </p>
            <ul style="margin: 0; padding-left: 1.5em; font-size: 0.73em;">
                <li style="margin: 0;">Simulation: FLIP/APIC/PBF/DFSPH Fluid, FEM/XPBD/PD Cloth, etc.</li>
                <li style="margin: 0;">Rendering: OpenGL/Vulkan based PBR Rasterizer / GLSL based Path Tracer, etc.</li>
            </ul>
        </div>
    </div>

    <div style="display: flex; align-items: flex-start; margin-bottom: 2rem;">
        <div style="margin-right: 1rem;">
            <img src="/images/Kasumi-20221119-ayaka.png" alt="Top Image" style="display: block; width: 10em; height: 8em; margin-bottom: 0.5rem;">
        </div>
        <div>
            <p style="margin: 0; font-size: 0.9em; font-weight: bold;">Kasumi Renderer</p>
            <p style="margin: 0; font-size: 0.73em;">
                <span class="date"><span class="icon"><i class="fa-solid fa-calendar fa-fw"></i></span>2022/11 - 2023/8 </span>
                <span style="margin-left: 1em;"></span>
                <span><i class="fa-solid fa-tags fa-fw"></i> Tags: 
                    <span style="
                    display: inline-block; 
                    background-color: #787878; 
                    color: #fff; 
                    padding: 0.1rem 0.3rem; 
                    border-radius: 4px; 
                    margin-left: 0.5rem;">
                    Rendering
                    </span>
                    <span style="
                    display: inline-block; 
                    background-color: #787878; 
                    color: #fff; 
                    padding: 0.1rem 0.3rem; 
                    border-radius: 4px; 
                    margin-left: 0.5rem;">
                    C++/Cmake/GLSL
                    </span>
                </span>
                <span style="margin-left: 1em;"></span>
                <span><i class="fa-brands fa-github fa-fw"></i> 
                    <a href="https://github.com/HinaPE/Kasumi-renderer"
                    style="
                    display: inline-block; 
                    background-color: #2196F3; 
                    color: #fff; 
                    padding: 0.1rem 0.3rem; 
                    border-radius: 4px; 
                    margin-left: 0.5rem;">
                    Open in Github
                    </a>
                </span>
            </p>
            <p style="margin: 0; margin-left: 0.1em; font-size: 0.73em;"> Kasumi is a cross-platform, light and easy-to-use research-oriented multi-backend renderer, including a workbench renderer, a software rasterizer and a pathtracer. </p>
            <p style="margin: 0; margin-left: 0.1em; font-size: 0.8em;"> Features: </p>
            <ul style="margin: 0; padding-left: 1.5em; font-size: 0.73em;">
                <li style="margin: 0;">A workbench renderer, a software rasterizer and a pathtracer.</li>
            </ul>
        </div>
    </div>

    <div style="display: flex; align-items: flex-start; margin-bottom: 2rem;">
        <div style="margin-right: 1rem;">
            <img src="/images/positionbasedfluids.png" alt="Top Image" style="display: block; width: 10em; height: 8em; margin-bottom: 0.5rem;">
        </div>
        <div>
            <p style="margin: 0; font-size: 0.9em; font-weight: bold;">PositionBasedFluid - CUDA</p>
            <p style="margin: 0; font-size: 0.73em;">
                <span class="date"><span class="icon"><i class="fa-solid fa-calendar fa-fw"></i></span>2023/3 </span>
                <span style="margin-left: 1em;"></span>
                <span><i class="fa-solid fa-tags fa-fw"></i> Tags: 
                    <span style="
                    display: inline-block; 
                    background-color: #787878; 
                    color: #fff; 
                    padding: 0.1rem 0.3rem; 
                    border-radius: 4px; 
                    margin-left: 0.5rem;">
                    Simulation
                    </span>
                    <span style="
                    display: inline-block; 
                    background-color: #787878; 
                    color: #fff; 
                    padding: 0.1rem 0.3rem; 
                    border-radius: 4px; 
                    margin-left: 0.5rem;">
                    C++/Cmake/CUDA/GLSL
                    </span>
                </span>
                <span style="margin-left: 1em;"></span>
                <span><i class="fa-brands fa-github fa-fw"></i> 
                    <a href="https://github.com/BFU-Graphics/PositionBasedFluids"
                    style="
                    display: inline-block; 
                    background-color: #2196F3; 
                    color: #fff; 
                    padding: 0.1rem 0.3rem; 
                    border-radius: 4px; 
                    margin-left: 0.5rem;">
                    Open in Github
                    </a>
                </span>
            </p>
            <p style="margin: 0; margin-left: 0.1em; font-size: 0.73em;"> Implementation - Miles Macklin and Matthias Muller. 2013. Position based fluids. ACM Trans. Graph. 32, 4, Article 104 (July 2013), 12 pages. </p>
            <p style="margin: 0; margin-left: 0.1em; font-size: 0.8em;"> Features: </p>
            <ul style="margin: 0; padding-left: 1.5em; font-size: 0.73em;">
                <li style="margin: 0;">Surface Tension / XSPH Viscosity / CUDA Neighbor Searching / Perfoemance Profiler</li>
                <li style="margin: 0;">Fluid-Solid Coulping: Support Akinci 2012 Boundary</li>
            </ul>
        </div>
    </div>

    <div style="display: flex; align-items: flex-start; margin-bottom: 2rem;">
        <div style="margin-right: 1rem;">
            <img src="/images/positionbaseddynamics.png" alt="Top Image" style="display: block; width: 10em; height: 8em; margin-bottom: 0.5rem;">
        </div>
        <div>
            <p style="margin: 0; font-size: 0.9em; font-weight: bold;">PositionBasedDynamics</p>
            <p style="margin: 0; font-size: 0.73em;">
                <span class="date"><span class="icon"><i class="fa-solid fa-calendar fa-fw"></i></span>2022/1 - 2022/11 </span>
                <span style="margin-left: 1em;"></span>
                <span><i class="fa-solid fa-tags fa-fw"></i> Tags: 
                    <span style="
                    display: inline-block; 
                    background-color: #787878; 
                    color: #fff; 
                    padding: 0.1rem 0.3rem; 
                    border-radius: 4px; 
                    margin-left: 0.5rem;">
                    Simulation
                    </span>
                    <span style="
                    display: inline-block; 
                    background-color: #787878; 
                    color: #fff; 
                    padding: 0.1rem 0.3rem; 
                    border-radius: 4px; 
                    margin-left: 0.5rem;">
                    C++/Cmake/GLSL
                    </span>
                </span>
                <span style="margin-left: 1em;"></span>
                <span><i class="fa-brands fa-github fa-fw"></i> 
                    <a href="https://github.com/BFU-Graphics/PositionBasedDynamics"
                    style="
                    display: inline-block; 
                    background-color: #2196F3; 
                    color: #fff; 
                    padding: 0.1rem 0.3rem; 
                    border-radius: 4px; 
                    margin-left: 0.5rem;">
                    Open in Github
                    </a>
                </span>
            </p>
            <p style="margin: 0; margin-left: 0.1em; font-size: 0.73em;"> Implementation - Muller, Matthias, Bruno Heidelberger, Marcus Hennix and J. W. Ratcliff. "Position based dynamics." Journal of Visual Communication and Image Representation (2007). </p>
            <p style="margin: 0; margin-left: 0.1em; font-size: 0.8em;"> Features: </p>
            <ul style="margin: 0; padding-left: 1.5em; font-size: 0.73em;">
                <li style="margin: 0;">PBD based Cloth + RigidBody Solver</li>
            </ul>
        </div>
    </div>

    <div style="display: flex; align-items: flex-start; margin-bottom: 2rem;">
        <div style="margin-right: 1rem;">
            <img src="/images/branchfrac.png" alt="Top Image" style="display: block; width: 10em; height: 8em; margin-bottom: 0.5rem;">
        </div>
        <div>
            <p style="margin: 0; font-size: 0.9em; font-weight: bold;">FEM-based Real-time Brittle Fracture Simulation of Tree Branches</p>
            <p style="margin: 0; font-size: 0.73em;">
                <span class="date"><span class="icon"><i class="fa-solid fa-calendar fa-fw"></i></span>2020/8 - 2021/6 </span>
                <span style="margin-left: 1em;"></span>
                <span><i class="fa-solid fa-tags fa-fw"></i> Tags: 
                    <span style="
                    display: inline-block; 
                    background-color: #787878; 
                    color: #fff; 
                    padding: 0.1rem 0.3rem; 
                    border-radius: 4px; 
                    margin-left: 0.5rem;">
                    Simulation
                    </span>
                    <span style="
                    display: inline-block; 
                    background-color: #787878; 
                    color: #fff; 
                    padding: 0.1rem 0.3rem; 
                    border-radius: 4px; 
                    margin-left: 0.5rem;">
                    C++/Cmake/GLSL
                    </span>
                </span>
                <span style="margin-left: 1em;"></span>
                <span><i class="fa-brands fa-github fa-fw"></i> 
                    <a href="https://github.com/Xayah-Hina/branchfrac"
                    style="
                    display: inline-block; 
                    background-color: #2196F3; 
                    color: #fff; 
                    padding: 0.1rem 0.3rem; 
                    border-radius: 4px; 
                    margin-left: 0.5rem;">
                    Open in Github
                    </a>
                </span>
            </p>
            <p style="margin: 0; margin-left: 0.1em; font-size: 0.73em;">Bachelor Thesis </p>
            <p style="margin: 0; margin-left: 0.1em; font-size: 0.8em;"> Features: </p>
            <ul style="margin: 0; padding-left: 1.5em; font-size: 0.73em;">
                <li style="margin: 0;">FEM + PBD + Tetrahedral Mesh</li>
            </ul>
        </div>
    </div>

</div> <!-- Selected Projects -->