
<!-- Publications -->
<div style="font-size: 1.3em; margin-top: 3em;">
    <div>
        <h1>Publications</h1>
    </div>
    <div style="display: flex; align-items: flex-start; margin-bottom: 2rem;">
        <div style="margin-right: 1rem;">
            <img src="/images/EPINF2025-2.png" alt="Top Image" style="display: block; width: 10em; height: 8em; margin-bottom: 0.5rem;">
        </div>
        <div>
            <p style="margin: 0; font-size: 0.9em; font-weight: bold;">EPINF - Efficient Physics Informed Dynamic Neural Fluid Fields Reconstruction
                From Sparse Videos 
                <a href="/publications/EPINF/static/pdfs/[0310v3]Efficient Physics Informed Dynamic Neural Fluid Fields Reconstruction From Sparse Videos.pdf" 
                style="display: inline-block; background-color: #fa8072; color: #fff; text-decoration: none; 
                        padding: 0.1rem 0.3rem; border-radius: 4px; margin-right: 0.5rem; font-size: 0.73em;">
                <i class="fa-brands fa-github fa-fw"></i> Paper
                </a>
                <a href="/publications/EPINF/" 
                style="display: inline-block; background-color: #39c5bb; color: #fff; text-decoration: none; 
                        padding: 0.1rem 0.3rem; border-radius: 4px; margin-right: 0.5rem; font-size: 0.73em;">
                Project Page
                </a>
                <a href="https://github.com/Xayah-Hina/EPINF-Smoke" 
                style="display: inline-block; background-color: #2196F3; color: #fff; text-decoration: none; 
                        padding: 0.1rem 0.3rem; border-radius: 4px; margin-right: 0.5rem; font-size: 0.73em;">
                <i class="fa-brands fa-github fa-fw"></i> Code
                </a>
            </p>
            <p style="margin: 0; font-size: 0.73em;">
                - <strong>Yangcheng Xiang</strong> and Yoshinori Dobashi.
            </p><p style="margin: 0; margin-left: 0.1em; font-size: 0.73em;"> <span style="font-weight: bold;">Keywords: </span> Physics-Informed Deep Learning, Fluid Reconstruction, Fluid Dynamics, NeRF  </p>
            <p style="margin: 0; font-size: 0.73em; color: #777; font-style: italic;">
                Technical Group on Artistic Image Technology (AIT 2025)
            </p>
        </div>
    </div>

    <div style="display: flex; align-items: flex-start; margin-bottom: 2rem;">
        <div style="margin-right: 1rem;">
            <img src="/images/thunderscapes2025.png" alt="Top Image" style="display: block; width: 10em; height: 8em; margin-bottom: 0.5rem;">
        </div>
        <div>
            <p style="margin: 0; font-size: 0.9em; font-weight: bold;">Thunderscapes: Simulating the Dynamics of Mesoscale Convective System
                <a href="/files/Thunderscapes__Simulating_the_Dynamics_of_Mesoscale_Convective_System.pdf" 
                style="display: inline-block; background-color: #fa8072; color: #fff; text-decoration: none; 
                        padding: 0.1rem 0.3rem; border-radius: 4px; margin-right: 0.5rem; font-size: 0.73em;">
                <i class="fa-brands fa-github fa-fw"></i> Paper
                </a>
                <span style="
                display: inline-block; 
                background-color: #787878; 
                color: #fff; 
                padding: 0.1rem 0.3rem; 
                border-radius: 4px; 
                margin-left: 0.5rem; font-size: 0.73em;">
                <i class="fa-brands fa-github fa-fw"></i> 
                Code (release soon)
                </span>
            </p>
            <p style="margin: 0; font-size: 0.73em;">
                - Tianchen Hao, Jinxian Pan, <strong>Yangcheng Xiang</strong>, Xiangda Shen, Xinsheng Li and Yanci Zhang
            </p>
            <p style="margin: 0; margin-left: 0.1em; font-size: 0.73em;"> <span style="font-weight: bold;">Keywords: </span> Thunderstorm Modeling and Simulation, Cloud Dynamics </p>
            <p style="margin: 0; margin-left: 0.1em; font-size: 0.73em;"> <span style="font-weight: bold;">Main Contributions: </span> Implement the core Fluid Solver of Cloud Dynamics in Houdini </p>
            <p style="margin: 0; font-size: 0.73em; color: #777; font-style: italic;">
                Proceedings of the ACM on Computer Graphics and Interactive Techniques 7 (2025)
            </p>
        </div>
    </div>
</div> <!-- Publications -->
    